<div class="text-white parent">
  <div class="row m-auto container py-5 childOne" >
      <div class="guide col-md-4 col-sm-6">

        <p class="title">WanderGuide</p>
        <p>Shape the future of delivering great live experiences by creating easy and accessible plate form to link passionate people with creative organizers.</p>

      </div>
      <div class="pages col-md-4 col-sm-6">

        <p class="title">Pages you might visit</p>
        <div class="anchor"><a>Privacy page</a></div>
        <div class="anchor"><a>Policy page</a></div>
        <div class="anchor"><a>Contact us</a></div>
        <div class="anchor"><a>About us</a></div>

      </div>
      <div class="contact col-md-4 col-sm-6">

        <p class="title">Contact us</p>
        <p>Al Khobar, Saudi Arabia</p>
        <div class="anchor"><a>00966544649428</a></div>
        <div class="anchor"><a>info@wanderguide.net</a></div>

      </div>
  </div>
  <div class="row container m-auto py-4 childTwo">
        <div class="lastOne ">&copy; Copyright - All Rights are Reserved For WanderGuide Developed by we-work.pro 2021</div>
        <div class="last">

        <a class="btn btn-white" href="https://www.facebook.com" role="button">
          <i class="bi bi-facebook"></i>
        </a>

        <a class="btn btn-white" href="https://www.twitter.com" role="button">
          <i class="bi bi-twitter"></i>
        </a>

        <a class="btn btn-white" href="https://www.google.com" role="button" >
          <i class="bi bi-google"></i>
        </a>

        <a class="btn btn-white" href="https://www.linkedin.com" role="button">
          <i class="bi bi-linkedin"></i>
        </a>

        </div>
  </div>
</div>
