<div class=" my-5 text-white">
  <a class="text-center title text-btn nunito" href="#">View All Events</a>

  <div class="row dash ">

    <div class="container my-5">
      <div class="right ">
        <p><span>Jo</span>in Our Amazing Community</p>
        <p>Through our website users can create new accounts to be able to find all nearby events and book a ticket online so if you were interested what are you waiting for to create a new account !?</p>
      </div>
      <div class="left ">
        <button type="button" class="btn btn-light">join Us</button>
      </div>
    </div>

  </div>

</div>
