<div class=" my-5 text-white">
  <p class="text-center title my-5"><a href="">View All Events</a></p>

  <div class="row dash ">

    <div class="container my-5 py-3 d-flex justify-content-between ">
      <div class="right col-md-6 col-sm-6">
        <p class="title"><span>Jo</span>in Our Amazing Community</p>
        <p class="content">Through our website users can create new accounts to be able to find all nearby events and book a ticket online so if you were interested what are you waiting for to create a new account !?</p>
      </div>
      <div class="left text-end col-md-6 col-sm-6">
        <button type="button" class="btn btn-light ">join Us</button>
      </div>
    </div>

  </div>

</div>
