<div class="container my-5">

  <p class="title"><span>M</span>ost Sharing</p>
  <div class="row">

    <!--new design-->
    <div class="card content col-md-3 col-sm-6 " style="background-image: url('../assets/images/most1.jpg');position: relative;">
      <div class="card-img-overlay d-flex flex-column"></div>
      <img class="card-img d-none" src="../assets/images/most1.jpg">
      <div class="card-body " style="z-index: 3;">
        <div class="card-meta mb-2 simiTitle">
          <a href="#" style="color: #fe6b02; text-decoration: none;">Visit the pyramids</a>
        </div>
        <h5 class="card-title mt-0 scroll "><a class="text-white" herf="#">Travel on a time trip to the era of the ancient Egyptians through the pyramids of Giza. Here are the details of ticket prices, the best dates of the visit, and how easily you can reach them. </a></h5>

        <div class="rate d-flex flex-column">

          <div class="like">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fe6b02"
                class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                <path
                  d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
              </svg>
              <div class="numberOfLikes">4</div>
            </div>

            <div class="location">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fe6b02" class="bi bi-geo-alt-fill"
                  viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                </svg>
              <div class="place  ">Egypt</div>
            </div>

          </div>

          <div class="details text-center">
            <div class="btn btn-light btn1 ">View details</div>
            <div class="btn btn-light btn1">Details</div>
          </div>

        </div>
      </div>
      <!--end the design-->
          <!--new design-->
    <div class="card content col-md-3 col-sm-6" style="background-image: url('../assets/images/most2.jpg');position: relative;">
      <div class="card-img-overlay d-flex flex-column"></div>
      <img class="card-img d-none" src="../assets/images/most2.jpg">
      <div class="card-body " style="z-index: 3;">
        <div class="card-meta mb-2 simiTitle">
          <a href="#" style="color: #fe6b02; text-decoration: none;">We are waiting for you at Music Kingdom on Friday ..</a>
        </div>
        <h5 class="card-title mt-0 scroll "><a class="text-white" herf="#">To all our fans in the UAE, get ready for our performance at Late Nights @expo2020dubai! We’ll be performing on the 22nd of October at Dubai Millennium Amphitheater Stage! We are proud to say that we’ll be representing Egypt at Expo 2020, a journey of music and culture around the world! </a></h5>

        <div class="rate d-flex flex-column">

          <div class="like">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fe6b02"
                class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                <path
                  d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
              </svg>
              <div class="numberOfLikes">4</div>
            </div>

            <div class="location">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fe6b02" class="bi bi-geo-alt-fill"
                  viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                </svg>
              <div class="place  ">Egypt</div>
            </div>

          </div>

          <div class="details text-center">
            <div class="btn btn-light btn1 ">View details</div>
            <div class="btn btn-light btn1">Details</div>
          </div>

        </div>
      </div>
      <!--end the design-->
          <!--new design-->
    <div class="card content col-md-3 col-sm-6" style="background-image: url('../assets/images/most3.jpg');position: relative;">
      <div class="card-img-overlay d-flex flex-column"></div>
      <img class="card-img d-none" src="../assets/images/most3.jpg">
      <div class="card-body " style="z-index: 3;">
        <div class="card-meta mb-2 simiTitle">
          <a href="#" style="color: #fe6b02; text-decoration: none;">Diving Trip</a>
        </div>
        <h5 class="card-title mt-0 scroll "><a class="text-white" herf="#">Trip inside gulf sea Time 4 pm age above 18 years Location Halfmoon ﻿ </a></h5>

        <div class="rate d-flex flex-column">

          <div class="like">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fe6b02"
                class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                <path
                  d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
              </svg>
              <div class="numberOfLikes">3</div>
            </div>

            <div class="location">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fe6b02" class="bi bi-geo-alt-fill"
                  viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                </svg>
              <div class="place  ">Saudi Arabia</div>
            </div>

          </div>

          <div class="details text-center">
            <div class="btn btn-light btn1 ">View details</div>
            <div class="btn btn-light btn1">Details</div>
          </div>

        </div>
      </div>
      <!--end the design-->
          <!--new design-->
    <div class="card content col-md-3 col-sm-6" style="background-image: url('../assets/images/most4.png');position: relative;">
      <div class="card-img-overlay d-flex flex-column"></div>
      <img class="card-img d-none" src="../assets/images/most4.png">
      <div class="card-body " style="z-index: 3;">
        <div class="card-meta mb-2 simiTitle">
          <a href="#" style="color: #fe6b02; text-decoration: none;">Umrah</a>
        </div>
        <h5 class="card-title mt-0 scroll "><a class="text-white" herf="#">Hotel services: Mövenpick Hotel Madinah is located in a prime location south of the Prophet's Mosque, just a few minutes from Al Rawda Al Sharifa and Al Baqi areas. The hotel offers a combination of fine dining options and a spacious meeting area in a relaxed atmosphere. Room amenities -Every room at Mövenpick Hotel Madinah has a private bathroom with a bathtub and bathrobes. Guests can relax with a refreshing drink from the in-room minibar or watch satellite TV channels. Hajar Tower, overlooking the Grand Mosque, is located in one of the tallest buildings in the world, and features a blend of tradition and modern amenities. It also has fine dining options and shops on the property.</a></h5>

        <div class="rate d-flex flex-column">

          <div class="like">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fe6b02"
                class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                <path
                  d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
              </svg>
              <div class="numberOfLikes">40</div>
            </div>

            <div class="location">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fe6b02" class="bi bi-geo-alt-fill"
                  viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                </svg>
              <div class="place  ">Egypt</div>
            </div>

          </div>

          <div class="details text-center">
            <div class="btn btn-light btn1 ">View details</div>
            <div class="btn btn-light btn1">Details</div>
          </div>

        </div>
      </div>
      <!--end the design-->
          <!--new design-->
    <div class="card content col-md-3 col-sm-6" style="background-image: url('../assets/images/most5.jpeg');position: relative;">
      <div class="card-img-overlay d-flex flex-column"></div>
      <img class="card-img d-none" src="../assets/images/most5.jpeg">
      <div class="card-body " style="z-index: 3;">
        <div class="card-meta mb-2 simiTitle">
          <a href="#" style="color: #fe6b02; text-decoration: none;">adventure in Tunisia</a>
        </div>
        <h5 class="card-title mt-0 scroll "><a class="text-white" herf="#">Enjoy going in green Tunisia </a></h5>

        <div class="rate d-flex flex-column">

          <div class="like">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fe6b02"
                class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                <path
                  d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
              </svg>
              <div class="numberOfLikes">7</div>
            </div>

            <div class="location">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fe6b02" class="bi bi-geo-alt-fill"
                  viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                </svg>
              <div class="place  "> Tunisia</div>
            </div>

          </div>

          <div class="details text-center">
            <div class="btn btn-light btn1 ">View details</div>
            <div class="btn btn-light btn1">Details</div>
          </div>

        </div>
      </div>
      <!--end the design-->
          <!--new design-->
    <div class="card content col-md-3 col-sm-6" style="background-image: url('../assets/images/most6.jpg');position: relative;">
      <div class="card-img-overlay d-flex flex-column"></div>
      <img class="card-img d-none" src="../assets/images/most6.jpg">
      <div class="card-body " style="z-index: 3;">
        <div class="card-meta mb-2 simiTitle">
          <a href="#" style="color: #fe6b02; text-decoration: none;">Title In English2</a>
        </div>
        <h5 class="card-title mt-0 scroll "><a class="text-white" herf="#">Goverment Lorem Ipsum Sit Amet Consectetur
            dipisi? </a></h5>

            <div class="rate d-flex flex-column">

          <div class="like">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fe6b02"
                class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                <path
                  d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
              </svg>
              <div class="numberOfLikes">4</div>
            </div>

            <div class="location">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fe6b02" class="bi bi-geo-alt-fill"
                  viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                </svg>
              <div class="place  ">Egypt</div>
            </div>

          </div>

          <div class="details text-center">
            <div class="btn btn-light btn1 ">View details</div>
            <div class="btn btn-light btn1">Details</div>
          </div>

        </div>
      </div>
      <!--end the design-->
  </div>
 </div>
