<nav class="navbar  fixed-top navbar navbar-expand-lg navbar-white bg-white text-dark">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/logo.png" style="height: 50px; width: 70px;">
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav  ">
      <li class="nav-item active">
        <a class="nav-link text-dark" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="all-events">All events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark disabled" routerLink="about-us">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark disabled" routerLink="contact-us">Contact us</a>
      </li>

        <button class="btn btn-white dropdown-toggle language" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          English
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">English</a>
          <a class="dropdown-item" href="#">arabic</a>
        </div>

        <div class="dropdown rightNav ">
          <button class="btn dropdown-toggle register" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Sign in as
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">User</a>
            <a class="dropdown-item" href="#">Admin</a>
            <a class="dropdown-item" href="#">Organizer</a>
          </div>

          <button class="btn dropdown-toggle register" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Register as
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">User</a>
            <a class="dropdown-item" href="#">Organizer</a>
          </div>
        </div>
    </ul>
  </div>
</nav>
