<div class="container my-5 py-5">
  <div class="row d-flex justify-content-between">

    <div class="col-md-3 col-sm-6">
       <span class="image">
         <img src="../assets/images/image4.png" alt="" srcset="">
       </span>
       <div class="content">
         <h1>93 +</h1>
         <p>All our website users</p>
       </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <span class="image">
        <img src="../assets/images/image5.png" alt="" srcset="">
      </span>
      <div class="content">
        <h1>6 +</h1>
        <p>Number of events</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <span class="image">
        <img src="../assets/images/image6.png" alt="" srcset="">
      </span>
      <div class="content">
        <h1>4 +</h1>
        <p>Number of tickets</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <span class="image">
        <img src="../assets/images/image7.png" alt="" srcset="">
      </span>
      <div class="content">
        <h1>1 +</h1>
        <p>Number of sponsers</p>
      </div>
    </div>

  </div>
</div>
