<div class="container my-5">
  <div class="row d-flex justify-content-between">

    <div class="col-md-3 col-sm-6">
       <span>
         <img src="../assets/images/image4.png" alt="" srcset="">
       </span>
       <div class="content">
         <h2>93 +</h2>
         <p>All our website users</p>
       </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <span>
        <img src="../assets/images/image5.png" alt="" srcset="">
      </span>
      <div class="content">
        <h2>6 +</h2>
        <p>Number of events</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <span>
        <img src="../assets/images/image6.png" alt="" srcset="">
      </span>
      <div class="content">
        <h2>4 +</h2>
        <p>Number of tickets</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <span>
        <img src="../assets/images/image7.png" alt="" srcset="">
      </span>
      <div class="content">
        <h2>1 +</h2>
        <p>Number of sponsers</p>
      </div>
    </div>

  </div>
</div>
